@font-face {
    font-family: "GoMonoNerdFont";
    src: url("/fonts/GoMonoNerdFont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #80579e; /* Original purple color */
    --background-color: #000;
    --highlight-color: #bd45cb; /* Neon blue */
    /* Add more variables as needed */
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: "GoMonoNerdFont", "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
}

/* Apply consistent padding to all pages */
main {
    /* border: 2px solid var(--primary-color); */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    background-color: #111; /* Dark gray background */
}

/* If needed, adjust the homepage padding separately */
body.home main {
    padding-top: 30px; /* Same padding for homepage */
}

/* If needed, adjust the single post page padding separately */
body.single main {
    padding: 30px; /* Uniform padding on single post pages */
    box-sizing: border-box;
}

/* Navigation Menu */
nav {
    text-align: center;
    margin: 10px 0;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #111;
    color: var(--primary-color);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-shadow: 0 0 10px var(--highlight-color); /* Neon glow on hover */
}

.highlight pre {
    background-color: #1d1135 !important; /* Darker futuristic purple */
    color: #f0e6ff; /* Light text color for contrast */
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 15px rgba(128, 87, 158, 0.7);
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
}

/* Additional futuristic effect for buttons */
button, .button {
    background-color: #111;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 8px;
    font-family: "GoMonoNerdFont", "Courier New", Courier, monospace;
    cursor: pointer;
    text-shadow: 0 0 5px var(--primary-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover, .button:hover {
    background-color: var(--primary-color);
    color: #111;
    box-shadow: 0 0 20px var(--primary-color);
}

header {
    text-align: center;
    margin: 10px 0;
    margin-bottom: 20px; /* Add more space between header and main */
}

.language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.8em;
}

.language-switcher a {
    color: var(--primary-color);
    text-decoration: none;
}

.language-switcher a:hover {
    text-decoration: underline;
    text-shadow: 0 0 10px var(--highlight-color);
}

.home {
  position: relative;
  overflow: hidden;
}

.moving-text {
  position: absolute;
  left: 0;
  animation: moveText 4s linear infinite alternate;
}

@keyframes moveText {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 150px); /* Adjust 150px to the approximate width of your text */
  }
}

/* Override variables for the growing page */
body.growing {
    --primary-color: #50914c; /* Green color */
    --highlight-color: #50914c; /* Adjust highlight if needed */
    /* Override other variables if necessary */
}

.welcome {
  margin-top: 40px;
}
